.jumbotron {
    
    background-size: 100% 100%;
  background-repeat: no-repeat;
  height:340px;
  
  }
  .jumbotron > p {
    position:absolute;
    color :aliceblue;
    text-align: center;
    left:300px;
  bottom:5px;
  font-size:20px;
  }


  body {
    background-image: linear-gradient(to bottom right, #eeb87a, #7984a7, #c7abbc, rgb(155, 118, 104));
  
  }
  /* Add a black background color to the top navigation */

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
