.jumbotron {
   
    background-size: 100% 100%;
  background-repeat: no-repeat;
  height:340px;
  
  }
  .jumbotron > p {
    position:absolute;
    color :aliceblue;
    text-align: center;
    left:300px;
  bottom:5px;
  font-size:20px;
  }

  body {
    background-image: linear-gradient(to bottom right, #eeb87a, #7984a7, #c7abbc, rgb(155, 118, 104));
  
  }
